In [1]:
a=(1,2,3)
b=4,5
print(b)

(4, 5)

In [2]:
1 in a

True

In [3]:
4 in b

True

In [5]:
c=a+b
print(c)

(1, 2, 3, 4, 5)

In [6]:
d=(a,b)
print(d)

((1, 2, 3), (4, 5))

In [7]:
e=a*4
print(e)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [9]:
min(a)
max(a)

3

In [11]:
a2=(1,2,"sai",(1,2))
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [12]:
a3=(1,2,3.3)
min(a3)

1

In [13]:
l=[1,2,3,4,5]
tuple(l)

(1, 2, 3, 4, 5)

function

In [22]:
def sum(a,b,c,d,e=0): #if e not given e=0
    return a+b+c+d+e

In [23]:
sum(1,2,3,4)

10

In [28]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(*more)
    print(type(more))

In [29]:
sum2(1,3,4,6,7,9)

1
3
4 6 7 9
<class 'tuple'>

In [30]:
def sum_diff(a,b):
    return a-b,a+b

In [32]:
c=sum_diff(5,4)
type(c)

tuple